<?xml version="1.0"?>
<config>
    <tabs>
        <magazento translate="label">
            <label>Magazento.com</label>
            <sort_order>250</sort_order>
        </magazento>
    </tabs>
    <sections>
        <sexybookmarks translate="label" module="sexybookmarks">
            <label>SexyBookmarks</label>
            <tab>magazento</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <developer>
                    <frontend_model>sexybookmarks/developer</frontend_model>
                    <sort_order>999</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </developer>
                <options translate="label">
                    <label>Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <bookmarkslist translate="label">
                            <label>SexyBookmarks</label>
                            <frontend_type>multiselect</frontend_type>
                            <comment>Select bookmarks</comment>
                            <source_model>sexybookmarks/source_mode</source_model>
                            <sort_order>54</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bookmarkslist>
                        <apikey translate="label">
                            <label>Shareholic API key</label>
                            <frontend_type>text</frontend_type>
                            <comment>You may input your own Shareholic API key (optional)</comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </apikey>
                        <source translate="label">
                            <label>Source</label>
                            <frontend_type>text</frontend_type>
                            <comment>Source text (optional)</comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </source>
                    </fields>
                </options>
            </groups>
        </sexybookmarks>
    </sections>
</config>